* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cairo", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: #FEFDFB;
  --sidebar-color: #ffff;
  --primary-color: #39629C;
  --text-color: #000000;
  --notify-color: #C32222;
  --main-color: #FF9626;
  --border-color: #cccccc;
  --background-color: #f1f1f1;
  /* ====== Transition ====== */
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
  --transition: all 0.2s ease;
}
/* ================================================================================ general style   ======================================================================================= */
/* ================================================================================================================================================================================== */
body{
  background-color: var(--body-color);
}
.filter1 {
  color: var(--main-color);
}

.filter2 {
  color: var(--primary-color);
}

.filter3 {
  color: var(--notify-color);
}
.filter1-div {
  background-color:var(--main-color);
}
.filter2-div {
  background-color:  var(--primary-color);
}
.filter3-div {
  background-color:var(--notify-color);
}


/*  */
.custom-tooltip {
  --bs-tooltip-bg: rgb(61, 61, 61);
  --bs-tooltip-color:white;
}
/*  */

.main-container{
  position: relative;
}

/*  */
.save-col{
text-align: end;
}
/*  */
.custom-img-btn{
  border: none;
  background: none;
}
/* ================================================================================ table style   ======================================================================================= */


.card-tables {
  justify-content: flex-start;
}

.scroll-table-div {
  height: 65vh;
  min-height: 400px;
  overflow: auto;
  padding: 5px;
}

.scroll-table-div::-webkit-scrollbar {
  width: 5px !important;
  height: 5px;

}

.scroll-table-div::-webkit-scrollbar-track {
  background: #fffdfd;

}

.scroll-table-div::-webkit-scrollbar-thumb {
  background: #a3b5cf;
  height: 10px;
  border-radius: 8px;


}

.scroll-table-div::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

.tables-style {
  border-collapse: separate;
  text-align: center;
  direction: ltr;
  font-size: .9375rem;
  width: 100%;
}

.tables-style thead {
  text-align: center;
  direction: ltr;
  font-size: .9375rem;
  width: 100%;
  box-shadow: 0px -20px 0px 0px #fefdfb;
}

.firstTable-col {
  text-align: end;

}
.tables-style th:last-child {
  box-shadow: 1px 0px 0px 0px rgb(255 242 228), 2px 3px 0px 1px rgb(255 159 64 / 18%);
  border-radius: 0px 8px 8px 0px
}

.tables-style th:first-child {
  box-shadow: 1px 0px 0px 0px rgb(255 242 228), 2px 3px 0px 1px rgb(255 159 64 / 18%);
  border-radius: 8px 0px 0px 8px
}

.tables-style th {
  padding: 5px 5px;
  background: #fff2e4;
  color: #39629C;
  z-index: 1;
  box-shadow: 20px 0px 0px 0px rgb(255 242 228), 2px 3px 0px 1px rgb(255 159 64 / 18%)
}

.tables-style td:last-child {
  box-shadow: none;
}

.tables-style td {
  border-radius: 8px;
  border-width: 10px 0;
  border-color: white;
  border-style: solid;
  background-color: white;
  color: black;
  /* padding: 4px 5px; */
  box-shadow: 0px 1px 0px -4px rgb(255 255 255), 20px -4px 0px -4px rgb(255 255 255), 20px 4px 0px -4px rgb(255 255 255);
  cursor: pointer;
}

.number {
  min-width: auto !important;
}

.tables-style tbody tr {
  box-shadow: 0px 3px 2px 0px #ff962629;
  border-radius: 8px;
}

.tables-style tbody {
  width: 100%;
}


/*  */
@media (min-width: 576px) and (max-width :766px) {
  .container, .container-sm {
      max-width: 620px;
  }
}
/* ================================================================================ search input   ======================================================================================= */

.form-outline {
  position: relative;
  color: rgba(0, 0, 0, 0.32);
}

.form-outline {
  display: inline-block;
}


.form-outline input {
  text-indent: 32px;
}

.form-outline .fa-search {
  position: absolute;
  top: 10px;
  right: 10px;
  width: fit-content;
}

.search-input-col,
.filters-col {
  text-align: end;
}

/* ================================================================================  inputs style   ======================================================================================= */
.inputs , .select-style  , .textarea-inputs
{
  border-radius: 8px;
  border: 2px solid #faa64d;
  resize: none;
  font-size: .875rem;
}

.select-style:focus,
.inputs:focus ,
.textarea-inputs:focus
{
    box-shadow: none !important;
    border: 2px solid #facd9c !important;
}
.textarea-inputs {
  resize: none;
 text-align: start;
}

.requird-field-row-last {
  justify-content: flex-end;
  height: 15px;
}
.requird-field {
  /* margin-bottom: 0px; */
  font-size: 13px;
  color: red;
  /* width: fit-content; */
  display: none;
}

.requird-field-row {
  justify-content: flex-end;
  height: 30px;
}

.tel-input{
 
  border-radius: 0px 8px 8px 0px !important;

}
.counterCode{
  border-radius: 8px 0px 0px 8px !important;
  border-right: none;
  background-color: white;
  color: var(--primary-color);
  direction: ltr;

}
.english-input{
  text-align: left;
}
.arabic-input{
  text-align: right;
}
.invaild{
  height: 30px;
}
.was-validated :invalid~.invaild .invalid-feedback{
  display: block;
}
.form-control.is-invalid, .was-validated .form-control:invalid{
  border-color: #faa64d;
}
.form-control.is-valid, .was-validated .form-control:valid{
  border-color: #faa64d;
    padding-right: inherit;
    background-image: none;
    background-position: none;
    background-size: none;
}
.Saved-data{
  color: var(--primary-color);
}
/* ================================================================================ Pages inputs accordion style   ======================================================================================= */

.inputs-accordion{
  max-width: 100%;
}
.accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordion .inputs-accordion-item {
  background-color: var(--sidebar-color) ;
  border-radius: 5px;
  box-shadow: 0.5px 2px 4px 0px #feefdb;
}

.accordion .inputs-accordion-item .inputs-accordion-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  cursor: pointer;
}

.accordion .inputs-accordion-item .inputs-accordion-item-header .accordion-item-header-title {
  font-weight: 600;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  color: #666666;
}

.accordion .inputs-accordion-item .inputs-accordion-item-header .accordion-item-header-icon {
  transition: var(--transition);
}

.accordion
  .inputs-accordion-item.open
  .inputs-accordion-item-header
  .accordion-item-header-icon {
  transform: rotate(-180deg);
}

.accordion .inputs-accordion-item .accordion-item-description-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: var(--transition);
}

.accordion .inputs-accordion-item.open .accordion-item-description-wrapper {
  grid-template-rows: 1fr;
  padding-bottom: 15px;

}

.accordion
  .inputs-accordion-item
  .accordion-item-description-wrapper
  .accordion-item-description {
  min-height: 0;
}

.accordion-item-description-wrapper{
  font-size: 14px;
}
.data-check{
  background: #666666;
    color: white;
    padding: 5px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 10px;
}



/* ================================================================================  Company => Branches     ======================================================================================= */
/* ================================================================================================================================================================================== */


.Branches-wrapper {
  min-height: 100vh;
  height: 100%;
}

.active {
  color: var(--primary-color);
  font-weight: 600;

}

.active .inner-collapse-arrow {
  background-color: var(--primary-color);
}

#Branches-table p {
  margin-bottom: .2rem;
}

.filters {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.new-Branch{
    position: absolute;
    bottom: 0px;
    left: -60px;
}

.filter-number-td{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;  
}

/*  */
@media (max-width : 1600px) {
  .new-Branch{
    left: 0px;
  }

}
/* ================================================================================  Company => add new Branch     ======================================================================================= */
/* ================================================================================================================================================================================== */
#Signature-imageInput {
  display: none;
}

#Signature-imagePreview {
  cursor: pointer;
  border: none;
  padding: 15px 5px;
}
#previewSignature{
  width: 100px;
}
